@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: "Short Stack";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cloud-content {
  position: relative;
}

.overlay-text {
  font-size: 1.5vw;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slider {
  overflow-x: hidden;
  white-space: nowrap;
}

.slide {
  display: inline-block;
  width: 100%;
  transition: transform 0.3s ease;
}

.active {
  transform: translateX(0);
}

.prev {
  transform: translateX(-100%);
}

.next {
  transform: translateX(100%);
}

.clock::before {
  content: url("/clock.svg");
  position: relative;
  top: 10px;
  left: 5px;
  padding: 0 7px;
}

.clock::after {
  content: url("/house.svg");
  display: inline-block;
  position: relative;
  padding: 0 10px;
  top: 10px;
}
